/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# Laravel Telescope
/storage/debugbar

# Laravel Logs
/storage/logs/*
!/storage/logs/.gitkeep

# Laravel Framework
bootstrap/cache/*
!bootstrap/cache/.gitkeep

# Composer
composer.phar

# IDE specific
/.fleet
/.idea
/.vscode
/.nova
/.zed
.phpactor.json

# OS specific
.DS_Store
Thumbs.db

# Debug files
npm-debug.log
yarn-error.log
*.log
